* {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}
.home .top_header {
  background-color: #227bb4;
  width: 100%;
  color: #fff;
  padding: 8px 0;
  display: inline-block;
}
.home .top_header .row {
  width: 100%;
  padding: 0 7% 0 7%;
}
.home .top_header .row .sicons {
  display: inline-block;
  width: 34%;
  float: left;
}
.home .top_header .row .sicons a {
  text-decoration: none;
  box-sizing: border-box;
}
.home .top_header .row .sicons a i {
  color: #fff;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #80ba42;
  height: 24px;
  width: 24px;
  margin: 0 8px 0 0;
  padding: 4px 0 0 0;
}
.home .top_header .row .sicons a:nth-child(1) i {
  padding: 5px 0 0 0;
}
.home .top_header .row .sicons a:nth-child(3) i {
  padding: 4px 0 0 1px;
}
.home .top_header .row .sicons a:nth-child(4) i {
  color: #fff;
  background-color: red;
}
.home .top_header .row .links {
  display: inline-block;
  width: 66%;
  float: right;
  margin-top: 1px;
}
.home .top_header .row .links a {
  float: right;
  margin-top: 3px;
  text-decoration: none;
  padding: 3px 16px;
  background-color: #80ba42;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-right: 8px;
  border-radius: 24px;
  text-transform: uppercase;
}
.home .head {
  margin-top: -3px;
}
.home .head .row {
  display: table;
  margin-right: auto;
  margin-left: 53px;
  padding: 0 20px 1px 20px;
  height: 50px;
}
.home .head .row .logo {
  vertical-align: middle;
  display: inline-block;
}
.home .head .row .logo img {
  width: 80px;
  margin-right: 30px;
}
.home .head .row .navb {
  display: inline-block;
}
.home .head .row .navb .dropdown {
  position: relative;
  display: inline-block;
  position: relative;
  font-size: 14px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.home .head .row .navb .dropdown .dropbtn {
  text-decoration: none;
  display: block;
  color: #333;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  padding: 15px;
  font-size: 14px;
  text-transform: uppercase;
}
.home .head .row .navb .dropdown .dropbtn .fa {
  margin-right: 8px;
  font-size: 15px;
  display: inline-block;
}
.home .head .row .navb .dropdown .dropdown-content {
  display: none;
  background: white;
  margin-top: 0px;
  padding-top: 5px;
  position: absolute;
  min-width: 260px;
  z-index: 2;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.home .head .row .navb .dropdown .dropdown-content li {
  position: relative;
  border-bottom: 4px solid transparent;
}
.home .head .row .navb .dropdown .dropdown-content li a {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  padding : 10px 20px;
  width: 100%;
  display : inline-block;
  width : 100%;
  height : 100%; 
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
}
.home .head .row .navb .dropdown .dropdown-content li:hover {
  color: #237bb4;
  background-color: #eee;
  border-bottom: 4px solid #237bb4;
}
.home .head .row .navb .dropdown .dropdown-content li:hover a {
  color: #237bb4;
}
.home .head .row .navb .dropdown .dropdown-content .dropdown-submenu a i {
  float: right;
  color: #ccc;
}
.home .head .row .navb .dropdown .dropdown-content .dropdown-submenu .dropdown-subcontent {
  display: none;
  background: white;
  margin-top: -33px;
  margin-left: 170px;
  z-index: 3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  min-width: 260px;
}
.home .head .row .navb .dropdown .dropdown-content .dropdown-submenu .dropdown-subcontent li a {
  color: #333;
  text-transform: none;
}
.home .head .row .navb .dropdown .dropdown-content .dropdown-submenu:hover .dropdown-subcontent {
  display: block;
  position: absolute;
}
.home .head .row .navb .dropdown .dropdown-content .dropdown-submenu:hover .dropdown-subcontent li:hover a {
  color: #237bb4;
}
.home .head .row .navb .dropdown:hover {
  border-bottom: 4px solid #237bb4;
  background-color: #eee;
}
.home .head .row .navb .dropdown:hover .dropbtn {
  color: #237bb4;
}
.home .head .row .navb .dropdown:hover .dropdown-content {
  display: block;
}
.home .head .row .navb .active {
  color: #237bb4;
  display: inline-block;
  border-bottom: 4px solid #237bb4;
}
.home .head .row .navb .active .dropbtn {
  color: #237bb4;
}
.home .carousel {
  background: red;
}
#menubutton {
  float : right;
  position: relative;
  background-color: #227bb4;
  text-align: center;
  margin-right: 0;
  border : 1px solid transparent; 
  border-radius : 4px; 
  width : 40px;
  padding: 5px 10px;
  color : white;
  font-size : 21px;
  margin-bottom : 10px;
  cursor: pointer;
}
.home .homecarousel .carousel {
  width : 100%;
  position:relative;
}
.home .homecarousel .carousel .carousel-inner .carousel-item img {
  width : 100%;
}
