* {
	box-sizing : border-box;
}
img {
	vertical-align : middle;
	border-style: none;
}
#testbook2 {
	height: auto;
	line-height : 1.42;
	background-color: #f5f8fa;
	font-size : 14px;
	color : #333;
	font-family : Roboto, sans-serif, Arial;
}
.header {
	position : fixed;
	 top : 0;
	  left : 0;
	  right : 0;
	  width : 100%;
	  background-color: #fff;
	  padding : 0 16px 0 16px;
	  height : 52px;
	  z-index : 3;
	  opacity : 1;
	  box-shadow : 0 2px 4px rgba(0,0,0,.1);
}
.logo {
	position: relative;
	float: left;
	padding : 8px 0;
	overflow: hidden;
	display : block;
}
a {
	text-decoration: none;
	background-color: transparent;
	color : #059ac4;
	cursor : pointer;
}
.logo img {
	height : 30px;
	margin : 3px 0;
	width : auto;
}
.header .title {
	max-width: 150px;
	overflow: hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
	margin-left : 16px !important;
	margin-top : 16px !important;
	float: left !important;
}

button {
	border-radius: 50%;
    color: #6b747c;
    line-height: 1;
    border: 2px solid #6b747c;
    font-size: 14px;
    background-color: transparent;
    width: 40px;
    height: 40px;


    font-family: testbook-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;



    padding: 0 8px;
    max-width: 600px;

    
    position: relative;
    width: 100%;
    margin: 0 auto;
}