* {
	box-sizing : border-box;
}
img {
	vertical-align : middle;
	border-style: none;
}
.testbook1 {
	height: auto;
	line-height : 1.42;
	background-color: #f5f8fa;
	font-size : 14px;
	color : #333;
	font-family : Roboto, sans-serif, Arial;
}
.header {
	position : fixed;
	 top : 0;
	  left : 0;
	  right : 0;
	  width : 100%;
	  background-color: #fff;
	  padding : 0 16px 0 16px;
	  height : 52px;
	  z-index : 3;
	  opacity : 1;
	  box-shadow : 0 2px 4px rgba(0,0,0,.1);
}
.logo {
	position: relative;
	float: left;
	padding : 8px 0;
	overflow: hidden;
	display : block;
}
a {
	text-decoration: none;
	background-color: transparent;
	color : #059ac4;
	cursor : pointer;
}
.logo img {
	height : 30px;
	margin : 3px 0;
	width : auto;
}
.header .title {
	max-width: 150px;
	overflow: hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
	margin-left : 16px !important;
	margin-top : 16px !important;
	float: left !important;
}
.profile {
	right : 0;
	bottom : 0;
	text-align : center;
	top : 52px;
	width : 250px;
	position: absolute;
	padding : 10px;
	top : 52px;
	display: block;
}
.profile img {
	margin : 8px auto;
	width  : 100px;
	vertical-align: middle;
	height : 100px;
	border-style: none;
	border-radius: 50%;
}
.profile .name {
	font-family : inherit;
	line-height : 1.1;
	margin-top : 20px;
	margin-bottom : 10px;
	font-size : 24px;
}
.instructions {
	bottom : 50px;
	top : 52px;
	background-color: #f5f8fa;
	position: absolute;
	left : 0;
	right : 0;
	overflow-x: hidden;
	margin-left : auto;
	margin-right : auto;
	padding-left: 16px;
	padding-right: 16px;
}
.instructions .all {
	margin-right: 0px;
	margin-left : 250px;
}
.profile+.instructions {
	margin-right : 250px;
}
.instruct {
	margin-bottom : 32px;
	width : 100%;
}
.heading {
	margin : 16px 0;
	width : 100%;
}
.heading h3 {
	text-align: center;
	font-size: 24px;
	margin-top : 20px;
	margin-bottom : 10px;
	font-weight : 600;
}
.heading h2 {
	text-align: center;
	font-size: 30px;
	margin-top : 20px;
	margin-bottom : 10px;
	font-weight : 600;
}
.time {
	float: left;
	width : 50%;
	position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
}
.time p {
	font-weight: 700;
	font-size : 14px;
}
.marks {
	float: right;
	width : 50%;
	text-align: right;
	position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
}
.marks p {
	font-weight: 700;
	font-size : 14px;
}
.content {
	margin-top : 16px;
	float : left;
	width : 100%;
	position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
}
.content u {
	padding-bottom: 1rem;
}
.content ol li {
	font-family: arial;
	color : #000;
	margin : 0 0 10px;
}
.content button {
	cursor : pointer;
}
.btn-gray-dark {
	color : #fff;
	background-color : #292f33;
	border-color : #1e2225;
}
.btn-gray-dark:hover
{
	background-color: #121517;
    border-color: #020303;
}
button {
	display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-transition: all .3s cubic-bezier(.165,.84,.44,1);
    -o-transition: all .3s cubic-bezier(.165,.84,.44,1);
    transition: all .3s cubic-bezier(.165,.84,.44,1);
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42;
    border-radius: 3px;
    -webkit-user-select: none;
}

.label {
    background: #fff;
    width: 25px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #333;
    color: #333;
    font-size: 14px;
    font-weight: 500;
}
.attempted {
    border-radius: 0!important;
    background-color: #00ff03!important;
    border-color: transparent;
    color: #000!important;
}
.bookmarked {
    background-color: #ffc000!important;
    border-radius: 0!important;
    border-color: transparent!important;
    color: #000!important;
}
.attempted.bookmarked {
    border-radius: 0!important;
    background-color: #7030a0!important;
    border-color: transparent;
    color: #fff!important;
}
.skipped {
    border-radius: 0!important;
    background-color: #fff!important;
    border-color: transparent!important;
    color: #000!important;
}
.btn-yellow-green {
    color: #000;
    background-color: #b2cb25;
    border-color: #9fb521;
}
.btn-yellow-green:hover {
    color: #000;
    background-color: #8ca01d;
    border-color: #728218;
}
.instructions .control {
	right : 250px;
	position: fixed;
	bottom: 0;
	left: 0;
    height: 50px;
    padding: 8px 16px 0;
    background: #fff;
    -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.2);
    box-shadow: 0 -1px 2px rgba(0,0,0,.2);
}
.instructions .control a{
	color : #059ac4;
	text-decoration: none;
	padding : 6px 12px;
	font-size: 14px;
	display: inline-block;
}
.instructions .control .read {
	display: inline-block;
	font-size: 14px;
	margin-right: 20%;
	position: absolute;
	right: 0;
}
.instructions .control .read button {
	margin-top: -2px;
}
.instructions .control i {
	color : #059ac4;
}
.declaration {
	margin-right : 250px;
	position: fixed;
    left: 0;
    right: 0;
    padding: 16px;
    bottom: 48px;
    background-color: #fff;
    -webkit-box-shadow: 0 -2px 4px rgba(0,0,0,.2);
    box-shadow: 0 -2px 4px rgba(0,0,0,.2);
    font-size: 15px;
}
.accept {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-family : Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 15px;
}
.accept input {
	position: absolute;
    left: 0;
    top: 6px;
    width: auto;
    display: inline-block;
    opacity: 1;
    margin: 4px 0 0;
    line-height: normal;
}

@media only screen and (max-width: 768px){
	.profile {
		display : none;
	}
	.profile+.instructions {
		margin-right : 0px;
	}
	.instructions .all {
		margin-left: 0; 
	}
	.instructions .control {
		right :0;
	}
	.declaration {
		margin-right : 0;
	}
}